@import "ui-variables";

.scrollmap .marker.marker-linter {
  z-index: 15;

  &.error {
    background-color: @text-color-error;
  }
  &.warning {
    background-color: @text-color-warning;
  }
  &.info {
    background-color: @text-color-info;
  }
}
